backcall
chardet
decorator
einops
fire
greenlet
idna
inflection
ipdb
ipython
ipython-genutils
jedi
msgpack
munch
neovim
nltk
numpy
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pynvim
pytorch-ignite
six
tensorboard
tensorboardX
tensorflow-gpu
torch
torchtext
torchvision
tqdm
traitlets
urllib3
wcwidth
rouge
unidecode
absl-py
tensorflow
tensorflow-datasets
tensorflow-hub
